- name: Install rsyslog
  ansible.builtin.package:
    name: rsyslog
    state: present

- name: Enable and start rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: started
    enabled: true

