---
# Stop Apache if running (port 80 conflict)
#- name: Stop and disable httpd if present
 # ansible.builtin.service:
  #  name: httpd
   # state: stopped
    #enabled: false
 # ignore_errors: yes

- name: Check if httpd is installed
  ansible.builtin.stat:
    path: /usr/sbin/httpd
  register: httpd_binary

- name: Stop and disable httpd if present
  ansible.builtin.service:
    name: httpd
    state: stopped
    enabled: false
  when: httpd_binary.stat.exists

- name: Install nginx via Satellite content
  ansible.builtin.package:
    name: nginx
    state: present

- name: Enable and start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

