---
- name: Install ansible.posix collection
  ansible.builtin.command:
    cmd: ansible-galaxy collection install ansible.posix

- name: Install firewalld
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: Enable and start firewalld
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: Open HTTP port for nginx
  firewalld:  # Use the BUILT-IN module
    service: http
    permanent: true
    state: enabled
    immediate: true
